* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #000000;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.menu {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_left {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu__search {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu_right {
  width: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu__profile {
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu__basket {
  padding-top: 18px;
  padding-bottom: 18px;
}

.mega_box {
  width: 232px;
  height: 764px;
  -webkit-box-shadow: -2px 3px 20px -13px #000000;
          box-shadow: -2px 3px 20px -13px #000000;
  position: absolute;
  background-color: #fff;
  display: none;
  margin-top: 18px;
  z-index: 2;
}

.close {
  padding-left: 203px;
  display: block;
  padding-top: 16px;
}

.mega__heading {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 15px;
  padding-right: 143px;
  padding-left: 34px;
  text-transform: uppercase;
  padding-top: 9px;
}

.menu__heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-bottom: 1px;
  padding-left: 34px;
  padding-top: 9px;
  text-transform: uppercase;
}

.mega__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-decoration: none;
  padding: 11px 54px;
}

.mega__link:hover {
  color: #f16d7f;
}

.menu__link:hover .mega_box {
  display: block;
}

.banner {
  background-color: #f1e4e6;
  height: 764px;
}

.banner_block {
  height: 100%;
  background: url(img/topman.png) -225px;
  background-repeat: no-repeat;
}

.banner__text {
  padding-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 102px;
}

.banner__line {
  padding-right: 16px;
}

.the__brand {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.text__fashion {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.span__fashion {
  padding-left: 9px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #f16d7f;
}

.card {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__link {
  display: block;
  text-decoration: none;
  padding-left: 103px;
  padding-right: 103px;
}

.men {
  padding-left: 125px;
  padding-right: 125px;
}

.kids {
  padding-left: 123px;
  padding-right: 123px;
}

.upper__cards {
  margin-top: 65px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__women {
  background-image: url(img/card1.jpg);
}

.card__men {
  background-image: url(img/card2.jpg);
}

.card__kids {
  background-image: url(img/card3.jpg);
}

.acces__card {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(img/card4.jpg);
}

.text__1 {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  padding-top: 105px;
}

.kids__text {
  width: 115px;
}

.text__2 {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
  padding-top: 1px;
}

.acces__text {
  padding-top: 65px;
  width: 160px;
}

.acces {
  padding-left: 725px;
  padding-right: 725px;
}

.item-sec__heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-top: 96px;
  text-align: center;
}

.item-sec__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 48px;
}

.txt-box__heading {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.txt-box__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-top: 12px;
}

.txt-box__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding-top: 18px;
}

.fetured_link {
  display: block;
  text-decoration: none;
  width: 360px;
}

.txt-box {
  padding: 25px 28px 20px 16px;
  background-color: #f8f8f8;
  margin-top: -4px;
}

.fetured-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fetured {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.fetured__img {
  width: 100%;
}

.fetured:hover {
  width: 360px;
}

.fetured:hover .fetured__img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  text-decoration: none;
  pointer-events: auto;
}

.add:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

.add-box {
  display: none;
  position: absolute;
  top: 188px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  pointer-events: none;
}

.fetured:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-left: 11px;
}

.btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@-webkit-keyframes sec-btn {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes sec-btn {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.sec-btn {
  font-style: normal;
  width: 212px;
  height: 48px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f26376;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  text-decoration: none;
  padding-top: 14px;
  text-align: center;
}

.sec-btn:hover {
  background-color: #ff6a6a;
  color: #fff;
  border: none;
  -webkit-animation: sec-btn 1s both;
          animation: sec-btn 1s both;
}

.advantages {
  background-color: #222224;
  margin-top: 95px;
}

.adv__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  width: 360px;
  padding-top: 104px;
  padding-bottom: 104px;
}

.item__image {
  display: block;
  margin: auto;
}

h4 {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
  padding-top: 28px;
}

.adv_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  padding-top: 16px;
}

footer {
  background-image: url(img/footerbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 97px;
  padding-bottom: 126px;
}

.footer__left {
  width: 360px;
}

.footer__image {
  display: block;
  margin: auto;
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
}

.footer__text2 {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer__right {
  width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 223px;
}

.right__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  padding-top: 51px;
}

.right__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

@-webkit-keyframes button__input {
  0% {
    letter-spacing: 0.3em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes button__input {
  0% {
    letter-spacing: 0.3em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.button__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.input__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 22px;
  background-color: #e1e1e1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px 0 0 22px;
  width: 256px;
  height: 49px;
  border: none;
}

.footer__btn {
  font-style: normal;
  width: 100px;
  height: 49px;
  background-color: #f16d7f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 22px 22px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  border: none;
  text-decoration: none;
  padding-top: 16px;
}

.footer__btn:hover {
  background-color: #EF5B70;
  -webkit-animation: button__input 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: button__input 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.footer_bottom {
  background-color: #222224;
}

.bottom__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13%;
}

.bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.fa-brands {
  font-size: 20px;
  color: #fff;
}

.fa-brands:hover {
  color: #f16d7f;
}

.arrivals {
  background-color: #F8F3F4;
}

.arrivals_text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
  padding: 60px 0;
}

.arrivals-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.arrivals_menu {
  padding: 65px 0;
}

.arrivals__link {
  font-weight: 300;
  font-size: 14px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none;
}

.arrivals__link:hover {
  color: #f16d7f;
  font-weight: 700;
}

.arrivals__span {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 4px;
}

.central-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-box {
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
}

.product_info {
  background-color: #fff;
  width: 100%;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 128px;
}

.product__collection {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #f16d7f;
  text-transform: uppercase;
  padding-top: 64px;
  padding-bottom: 12px;
}

.chic__text {
  font-weight: 300;
  font-size: 18px;
  color: #4D4D4D;
  padding-top: 12px;
  text-transform: uppercase;
}

.product__text {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #5E5E5E;
  padding-top: 48px;
}

.product__price {
  font-weight: 300;
  font-size: 24px;
  color: #EF5B70;
  padding-top: 32px;
  padding-bottom: 64px;
}

.param__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}

.choose__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-left: 23px;
  position: relative;
  padding-bottom: 5px;
}

.choose__link:first-child {
  padding-left: 0;
}

.choose__link:hover {
  color: #f16d7f;
}

.choose__text {
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-right: 9px;
}

.color-box {
  width: 128px;
  -webkit-box-shadow: -2px 3px 20px -13px #000000;
          box-shadow: -2px 3px 20px -13px #000000;
  position: absolute;
  background-color: #fff;
  display: none;
  margin-top: 95px;
}

.choose__link:hover .color-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 9px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.choose__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-left: 9px;
}

.size-box {
  width: 109px;
  -webkit-box-shadow: -2px 3px 20px -13px #000000;
          box-shadow: -2px 3px 20px -13px #000000;
  position: absolute;
  background-color: #fff;
  display: none;
  margin-top: 115px;
  z-index: 1;
}

.choose__link:hover .size-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 9px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.product__add {
  width: 212px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  padding-bottom: 64px;
}

@-webkit-keyframes product-btn {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes product-btn {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.product-btn:hover {
  -webkit-box-shadow: 0 0 5px #FF6A6A;
          box-shadow: 0 0 5px #FF6A6A;
  -webkit-animation: product-btn 1s both;
          animation: product-btn 1s both;
}

.product-btn {
  width: 100%;
  text-decoration: none;
  border: 1px solid #FF6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  padding-left: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__add_text {
  font-weight: 400;
  font-size: 16px;
  color: #F26376;
  padding-left: 23px;
}

.pr__featured {
  margin-bottom: 98px;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 51px;
  margin-bottom: 64px;
}

.left_filter {
  padding-left: 16px;
}

.filter__link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.filter__link:hover {
  color: #EF5B70;
}

.filter__image {
  padding-left: 11px;
}

.right_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 304px;
}

.filter {
  padding-left: 28px;
}

.filter-box {
  width: 70px;
  margin-left: -20px;
}

.filter__input {
  padding-right: 30px;
}

.accor-box {
  position: relative;
  display: block;
  padding-bottom: 10px;
}

.acor-container {
  width: 360px;
  -webkit-box-shadow: -2px 3px 20px -13px #000000;
          box-shadow: -2px 3px 20px -13px #000000;
  padding-left: 16px;
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: -16px;
  margin-top: -30px;
}

.filter__link_hover {
  font-weight: 600;
  font-size: 14px;
  color: #EF5B70;
  text-transform: uppercase;
  padding-top: 13px;
}

.filter_heading {
  margin-top: 18px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EBEBEB;
}

.filter_heading:last-child {
  margin-bottom: 16px;
}

.accor__heading {
  cursor: pointer;
  background-color: #fff;
  display: block;
  padding-left: 11px;
  width: 327px;
  color: #6F6E6E;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  font-size: 14px;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.accor__heading:hover {
  color: #EF5B70;
}

.accor__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-decoration: none;
  padding: 0 0 11px 17px;
}

.accor__link:hover {
  color: #EF5B70;
}

.accor-box:hover .acor-container {
  display: block;
}

.accor__link:last-child {
  padding-bottom: 0;
}

.acor-container input {
  display: none;
}

.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
}

.pagination {
  border: 1px solid #EBEBEB;
  padding: 12px 15px;
}

.pag__link {
  font-weight: 300;
  font-size: 16px;
  color: #C4C4C4;
  text-decoration: none;
  padding-left: 18px;
}

.pag__link:hover {
  color: #EF5B70;
}

.pag__link:nth-child(2) {
  padding: 0;
}

.pag__link:nth-child(8) {
  padding: 0;
}

.pag__link:nth-child(9) {
  padding: 0;
}

.pag__img_l {
  padding-right: 18px;
}

.pag__img_r {
  padding-left: 18px;
}

.registration-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_form {
  margin-bottom: 96px;
  margin-top: 31px;
}

.registration__input {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upper__text {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
  padding-top: 33px;
}

.input__txt {
  font-weight: 300;
  font-size: 13px;
  color: #B1B1B1;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding: 13px 0 16px 17px;
  opacity: 0.5;
}

.password__info {
  width: 360px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding: 15px 0 39px 0;
}

.gender_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 31px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.gender__input {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.info__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.info__gender p {
  padding-left: 10px;
  padding-right: 20px;
}

@-webkit-keyframes registration__button {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes registration__button {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.registration__button {
  cursor: pointer;
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 0 16px 0;
  border-style: none;
}

.registration__button:hover {
  background-color: #EF5B70;
  -webkit-animation: registration__button 1s both;
          animation: registration__button 1s both;
}

.registration-perks {
  margin-left: 128px;
  margin-top: 64px;
}

.perk_heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.perk_text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 22px;
}

.perk_list {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 21px;
  padding-left: 28px;
  list-style: url(img/registration/list.png);
}

.perk_list li {
  padding-bottom: 16px;
}

.perk_list div {
  padding-left: 23px;
}
/*# sourceMappingURL=style.css.map */